
/* utility */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
} 

:root{
    --primary-color: #b91450;
}

body{
    background-color: var(--primary-color);
}

.col-white{
    color: white;
}
/* --------- code --------- */

/* inizio card principale */
.container{
    background-color: white; 
    width: 60%;
    margin: auto;
    padding: 2rem 0;
    border-radius: 10px;
}

.inputs{
    display: flex;
    justify-content: center;
    padding-bottom: 3rem;
}

.buttons{
    display: flex;
    justify-content: center;
}

.buttons button{
    margin: 0 1rem;
    padding: 5px;
    color: var(--primary-color);
    font-weight: 700;
}

.inputs input, .inputs select{
    display: block;
    padding: 5px 0;
    border-radius: 5px;
    border: 1px solid var(--primary-color);
    margin: 1rem 0;
}

label{
    color: var(--primary-color);
    font-size: 0.9rem;
    font-weight: 600;
}
/* fine card principale */


/* inizio ticket */
h1, .inputs .info-utente{
    text-align: center;
}

.inputs .info-utente{
    padding: 0 3rem;
}

th{
    width: 200px;
    text-align: left;
}

td{
    font-size: 0.9rem;
    font-weight: 500;
}

.ticket-info{
    border: 1px solid black;
    display: inline-block;
    display: flex;
    border-left: 0;
    border-right: 0;
}

.ticket-container{
    width: 60%;
    margin: auto;
    margin-top: 2rem;
}

.ticket{
    background-color: white;
    padding: 20px;
}

.nome-passeggero{
    background-color: grey;
    width: 250px;
    padding: 12px 18px;
}

.main-title{
    padding: 1rem 0;
}

.info-corsa{
    display: flex;
}

.d-none{
    display: none;
}

th, td{
    padding: 15px;
}
/* fine ticket */